<!doctype html>
<title>Results - Who is Flying</title>
<h1>Here's the Results</h1>
<div>
  <h2>Current Settings</h2>
  <p><b>Central coordinate:</b><br>
    {{info['center_lat']|abs}}{{info['center_lat_sign']}},
    {{info['center_lon']|abs}}{{info['center_lon_sign']}}
  </p>
  <p><b>Central coordinate:</b><br>
    {{info['corner_lat']|abs}}{{info['corner_lat_sign']}},
    {{info['corner_lon']|abs}}{{info['corner_lon_sign']}}
  </p>
  <p><b>Interval:</b><br>
    {{info['interval']}}
  <p>Lights will show the number of the flight whose {{info['field']}} are {{info['func']}}
    {{info['value']}}.</p><br>

  </p>
</div>
<div>
  <h2>Results</h2>
  <p>There're {{info['num']}} planes satisfy the requirements.</p>
</div>

<button onClick="document.location.reload()" type="button">Refresh</button>
<button type="button"><a href="{{url_for('config')}}">Settings</a></button>